//Colors:
$yellow: #f7d945;
$yellowDark: #ae9e00;

$blue: #4563F7;
$gray: #43413c;
$dark: #343a40;

$blackIsh: #010101;
$whiteIsh: #f1f1f1;
$lightGray: #ababb5;

//Breakpoints:
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
$ultraWide: 1800px;