//Colors:
$yellow: #f7d945;
$yellowDark: #ae9e00;

$blue: #4563F7;

$gray: #43413c; //TODO: Rename
$dark: #343a40; //TODO: Rename
$light: #f1f1f1; //TODO: Rename

//Breakpoints:
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;